* {
  font-family: 'Bree Serif', serif;
}

.head {
  color: rgb(113, 122, 133);
  margin: 0;
  padding-bottom: 5px;
}

h3 {
  text-align: center;
  color: rgb(44, 46, 48);
  font-size: 40pt;
  margin-top: 0px;
  margin-bottom: 50px;
  padding-top: 20px;
  font-family: 'Bree Serif', serif;
  letter-spacing: 0.07em;
}

body {
  background-color: rgb(230, 233, 229);
}

.nav a{
  color: rgb(44, 46, 48);
  text-decoration: none;
  list-style-type: none;
  position: relative;
  display: inline-block;
  font-family: 'Bree Serif', serif;
}

.nav li {
  display: inline-block;
  float: left;
  padding: 10px;
  text-align: center;
  background-color:rgba(32, 186, 70, 0.63);
  width:20%;
  border-style: groove;
  border-radius: 10px;
}

.main {
  background-color: rgba(32, 186, 70, 0.63);
  border-radius: 10px;
  color: rgb(44, 46, 48);
  padding: 10px;
  margin: 20px;
  margin-top: 65px;
  border-style: groove;
}
